#/Debug/
#/.idea/
#/Tilda/source/Service/VoltageConversions/DAC_Calibration.py
#/Tilda/source/autostart.xml
#/Tilda/source/Scratch/tetrishighscore.txt
#/Tilda/source/Driver/DataAcquisitionFpga/fpga_config.xml
#/.idea/dataSources.xml
#/.idea/dataSources.ids
#/.idea/Tilda.iml
#/.idea/dataSources.local.xml
#/.idea/misc.xml
#/.idea/modules.xml
#/.idea/vcs.xml
#/.idea/workspace.xml
#/.idea/encodings.xml
#/.idea/scopes/scope_settings.xml
#/.idea/dictionaries/simkaufm.xml
#/Tilda/source/logs/
#/Tilda/source/temp.out
#/Tilda/source/Driver/TritonListener/TritonConfig.py
#/source/
#/Tilda/source/Driver/SQLStream/SQLConfig.py
/Tilda.egg-info/
