/Debug/
/.idea/
/TildaHost/source/Service/VoltageConversions/DAC_Calibration.py
/TildaHost/source/autostart.xml
/TildaHost/source/Scratch/tetrishighscore.txt
/TildaHost/source/Driver/DataAcquisitionFpga/fpga_config.xml
/.idea/dataSources.xml
